Package: enigma2-plugin-extensions-mountmanager
Version: 0.3-20080222-r0
Description: Mount Manager-Plugin for Enigma2
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Homepage: http://www.ritzmo.de
Depends: enigma2(>=2.5cvs20080416)
Source: http://www.ritzmo.de
